/Simulation/target
export_presets.cfg
geany_proj.proj
/home/vilius/Desktop/Progr/AutumnRTS/Assets/Models/Placeholder_Marine/Placeholder_Marine.blend1
/home/vilius/Desktop/Progr/AutumnRTS/Assets/Models/Placeholder_Marine/Placeholder_Marine.blend